[submodule "repos/csoweb"]
	path = repos/csoweb
	url = https://github.com/yurielk82/csoweb.git
[submodule "repos/kpis-dsr-api"]
	path = repos/kpis-dsr-api
	url = https://github.com/yurielk82/KPIS-DSR-API.git
[submodule "repos/studiogo"]
	path = repos/studiogo
	url = https://github.com/yurielk82/StudioGo.git
[submodule "repos/ev-motor-reliability"]
	path = repos/ev-motor-reliability
	url = https://github.com/yurielk82/ev-motor-reliability.git
